<div id="account-overview" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container pt-5 pb-5">
        <h1>My account</h1>
        <hr/>

        <% if(me && me.emailStatus === 'confirmed') { %>
        <div class="row mb-3">
            <div class="col-sm-6">
                <h4>Personal information</h4>
            </div>
            <div class="col-sm-6">
                <span class="float-sm-right">
                  <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/profile">Edit profile</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Name:</div>
            <div class="col"><strong>{{me.fullName}}</strong></div>
        </div>
        <div class="row">
            <div class="col-3">Email:</div>
            <div class="col">
                <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested' ? 'text-muted' : '']">{{me.emailChangeCandidate
                    ? me.emailChangeCandidate : me.emailAddress}}</strong>
                <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested'"
                      class="badge badge-pill badge-warning">Unverified</span>
            </div>
        </div>
        <hr/>
        <div class="row mb-3">
            <div class="col-sm-6">
                <h4>Password</h4>
            </div>
            <div class="col-sm-6">
                <span class="float-sm-right">
                  <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/password">Change password</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Password:</div>
            <div class="col">
                <strong v-if="<%= hasPassword ;%>">••••••••••</strong>
                <span v-if="!<%= hasPassword ;%>">(You don't have password now, but you can set a new one in any time.)</span>
            </div>
        </div>
        <hr/>

        <div class="row mb-3">
            <div class="col-sm-6">
                <h4>OAuth</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Providers:</div>
            <div class="col" v-if="<%= passports.length > 0 ;%>">
                <% for (provider of passports) { %>
                    <i
                            class="fa fa-<%= provider ;%> fa-fw"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="You've logged in by <%= provider.toUpperCase() ;%>"
                            alt="You've logged in by <%= provider.toUpperCase() ;%>"
                    ></i>
                <% } %>
            </div>
            <div class="col" v-else>-</div>
        </div>
        <hr/>

        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm text-danger btn-link" @click="removeAccount()">Remove account</a>
        </span>
        <% } else if(me && me.emailStatus !== 'confirmed') { %>
        <div class="row mb-3">
            <div class="col-sm-6">
                <h4>Email Verification</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Hi <b><%= me.fullName %></b>, you seem like not yet verified your email address. You need to pass the email verification in order to access your profile, you can click the button to resend the verification mail.
            </div>
        </div>
        <span class="float-sm-right">
            <ajax-button type="button" :syncing="syncing" class="btn btn-sm btn-outline-info" @click="resendEmailVerification">Resend Email Verification</ajax-button>
        </span>
        <% } %>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser(); %>
